<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Asc.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Questa sezione definisce la configurazione di registrazione per My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Per scrivere nel log eventi dell'applicazione, rimuovere il commento dalla sezione sottostante e sostituire APPLICATION_NAME con il nome dell'applicazione -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Asc.My.MySettings>
            <setting name="NumEmail" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ufficio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value />
            </setting>
            <setting name="PASS" serializeAs="String">
                <value />
            </setting>
            <setting name="x" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumEmail2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedDate" serializeAs="String">
                <value />
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavePrintSett" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumRighePerPagina" serializeAs="String">
                <value>53</value>
            </setting>
            <setting name="NomeUtente" serializeAs="String">
                <value>NAVE</value>
            </setting>
            <setting name="PassUtente" serializeAs="String">
                <value>SANGIORGIO</value>
            </setting>
            <setting name="DataOggi" serializeAs="String">
                <value />
            </setting>
            <setting name="DataIeri" serializeAs="String">
                <value />
            </setting>
            <setting name="JlDate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedDate2" serializeAs="String">
                <value />
            </setting>
            <setting name="TerPrintPageNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpenedFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DTBPartenze" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DTBArrivi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumEmailIntelligence" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DTBArriviActive" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DTBPartenzeActive" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DTBIntelligenceActive" serializeAs="String">
                <value />
            </setting>
            <setting name="Intelligence22Ter" serializeAs="String">
                <value />
            </setting>
            <setting name="CloseDTBNow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UfficiIsActive" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedOffice" serializeAs="String">
                <value />
            </setting>
        </Asc.My.MySettings>
    </userSettings>
</configuration>
